# MATCH_SUMMARY

In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://www.espncricinfo.com/records/tournament/team-match-results/indian-premier-league-2023-15129")

In [3]:
d = pd.DataFrame(df[0])

In [4]:
d.columns

Index(['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match Date',
       'Scorecard'],
      dtype='object')

In [5]:
d.shape

(74, 7)

In [6]:
d

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Titans,Super Kings,Titans,5 wickets,Ahmedabad,"Mar 31, 2023",Twenty20
1,Punjab Kings,KKR,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",Twenty20
2,Super Giants,Capitals,Super Giants,50 runs,Lucknow,"Apr 1, 2023",Twenty20
3,Sunrisers,Royals,Royals,72 runs,Hyderabad,"Apr 2, 2023",Twenty20
4,RCB,Mumbai,RCB,8 wickets,Bengaluru,"Apr 2, 2023",Twenty20
...,...,...,...,...,...,...,...
69,RCB,Titans,Titans,6 wickets,Bengaluru,"May 21, 2023",Twenty20
70,Super Kings,Titans,Super Kings,15 runs,Chennai,"May 23, 2023",Twenty20
71,Super Giants,Mumbai,Mumbai,81 runs,Chennai,"May 24, 2023",Twenty20
72,Titans,Mumbai,Titans,62 runs,Ahmedabad,"May 26, 2023",Twenty20
73,Titans,Super Kings,Super Kings,5 wickets,Ahmedabad,"May 28-29, 2023",Twenty20

In [7]:
Match_ID = []
for i in range(0,len(d)):
    s=str(i)
    if i<10:
        p = "#230"
        ID = p+s
        Match_ID.append(ID)
    else:
        p1 = "#23"
        ID1 = p1+s
        Match_ID.append(ID1)
d["Match_ID"] = Match_ID

In [8]:
d = d.drop("Scorecard", axis=1)

In [9]:
d["Team 1"].unique()

array(['Titans', 'Punjab Kings', 'Super Giants', 'Sunrisers', 'RCB',
       'Super Kings', 'Capitals', 'Royals', 'KKR', 'Mumbai'], dtype=object)

In [10]:
d["Team 2"].unique()

array(['Super Kings', 'KKR', 'Capitals', 'Royals', 'Mumbai',
       'Super Giants', 'Titans', 'Punjab Kings', 'RCB', 'Sunrisers'],
      dtype=object)

In [11]:
d["Winner"].unique()

array(['Titans', 'Punjab Kings', 'Super Giants', 'Royals', 'RCB',
       'Super Kings', 'KKR', 'Sunrisers', 'Mumbai', 'Capitals',
       'no result'], dtype=object)

In [12]:
d[d["Winner"]=="no result"]

          Team 1       Team 2     Winner Margin   Ground   Match Date Match_ID
44  Super Giants  Super Kings  no result      -  Lucknow  May 3, 2023    #2344

In [13]:
for j in range(len(d)):
    if d["Winner"][j]=="no result":
        d = d.drop(j, axis=0)

In [14]:
d.head(45)

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,Titans,Super Kings,Titans,5 wickets,Ahmedabad,"Mar 31, 2023",#2300
1,Punjab Kings,KKR,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",#2301
2,Super Giants,Capitals,Super Giants,50 runs,Lucknow,"Apr 1, 2023",#2302
3,Sunrisers,Royals,Royals,72 runs,Hyderabad,"Apr 2, 2023",#2303
4,RCB,Mumbai,RCB,8 wickets,Bengaluru,"Apr 2, 2023",#2304
5,Super Kings,Super Giants,Super Kings,12 runs,Chennai,"Apr 3, 2023",#2305
6,Capitals,Titans,Titans,6 wickets,Delhi,"Apr 4, 2023",#2306
7,Royals,Punjab Kings,Punjab Kings,5 runs,Guwahati,"Apr 5, 2023",#2307
8,KKR,RCB,KKR,81 runs,Eden Gardens,"Apr 6, 2023",#2308
9,Super Giants,Sunrisers,Super Giants,5 wickets,Lucknow,"Apr 7, 2023",#2309
10,Royals,Capitals,Royals,57 runs,Guwahati,"Apr 8, 2023",#2310
11,Mumbai,Super Kings,Super Kings,7 wickets,Wankhede,"Apr 8, 2023",#2311
12,Titans,KKR,KKR,3 wickets,Ahmedabad,"Apr 9, 2023",#2312
13,Sunrisers,Punjab Kings,Sunrisers,8 wickets,Hyderabad,"Apr 9, 2023",#2313
14,RCB,Super Giants,Super Giants,1 wicket,Bengaluru,"Apr 10, 2023",#2314
15,Capitals,Mumbai,Mumbai,6 wickets,Delhi,"Apr 11, 2023",#2315
16,Super Kings,Royals,Royals,3 runs,Chennai,"Apr 12, 2023",#2316
17,Punjab Kings,Titans,Titans,6 wickets,Mohali,"Apr 13, 2023",#2317
18,KKR,Sunrisers,Sunrisers,23 runs,Eden Gardens,"Apr 14, 2023",#2318
19,RCB,Capitals,RCB,23 runs,Bengaluru,"Apr 15, 2023",#2319
20,Super Giants,Punjab Kings,Punjab Kings,2 wickets,Lucknow,"Apr 15, 2023",#2320
21,Mumbai,KKR,Mumbai,5 wickets,Wankhede,"Apr 16, 2023",#2321
22,Titans,Royals,Royals,3 wickets,Ahmedabad,"Apr 16, 2023",#2322
23,RCB,Super Kings,Super Kings,8 runs,Bengaluru,"Apr 17, 2023",#2323
24,Sunrisers,Mumbai,Mumbai,14 runs,Hyderabad,"Apr 18, 2023",#2324
25,Royals,Super Giants,Super Giants,10 runs,Jaipur,"Apr 19, 2023",#2325
26,Punjab Kings,RCB,RCB,24 runs,Mohali,"Apr 20, 2023",#2326
27,Capitals,KKR,Capitals,4 wickets,Delhi,"Apr 20, 2023",#2327
28,Super Kings,Sunrisers,Super Kings,7 wickets,Chennai,"Apr 21, 2023",#2328
29,Super Giants,Titans,Titans,7 runs,Lucknow,"Apr 22, 2023",#2329
30,Mumbai,Punjab Kings,Punjab Kings,13 runs,Wankhede,"Apr 22, 2023",#2330
31,RCB,Royals,RCB,7 runs,Bengaluru,"Apr 23, 2023",#2331
32,KKR,Super Kings,Super Kings,49 runs,Eden Gardens,"Apr 23, 2023",#2332
33,Sunrisers,Capitals,Capitals,7 runs,Hyderabad,"Apr 24, 2023",#2333
34,Titans,Mumbai,Titans,55 runs,Ahmedabad,"Apr 25, 2023",#2334
35,RCB,KKR,KKR,21 runs,Bengaluru,"Apr 26, 2023",#2335
36,Royals,Super Kings,Royals,32 runs,Jaipur,"Apr 27, 2023",#2336
37,Punjab Kings,Super Giants,Super Giants,56 runs,Mohali,"Apr 28, 2023",#2337
38,KKR,Titans,Titans,7 wickets,Eden Gardens,"Apr 29, 2023",#2338
39,Capitals,Sunrisers,Sunrisers,9 runs,Delhi,"Apr 29, 2023",#2339
40,Super Kings,Punjab Kings,Punjab Kings,4 wickets,Chennai,"Apr 30, 2023",#2340
41,Mumbai,Royals,Mumbai,6 wickets,Wankhede,"Apr 30, 2023",#2341
42,Super Giants,RCB,RCB,18 runs,Lucknow,"May 1, 2023",#2342
43,Titans,Capitals,Capitals,5 runs,Ahmedabad,"May 2, 2023",#2343
45,Punjab Kings,Mumbai,Mumbai,6 wickets,Mohali,"May 3, 2023",#2345

In [15]:
d["Team 1"].unique()

array(['Titans', 'Punjab Kings', 'Super Giants', 'Sunrisers', 'RCB',
       'Super Kings', 'Capitals', 'Royals', 'KKR', 'Mumbai'], dtype=object)

In [16]:
d.replace("Titans","Gujarat Titans", inplace=True)
d.replace("Super Giants","Lucknow Super Giants", inplace=True)
d.replace("Sunrisers","Sunrisers Hyderabad", inplace=True)
d.replace("RCB","Royal Challengers Bangalore", inplace=True)
d.replace("Super Kings","Chennai Super Kings", inplace=True)
d.replace("Capitals","Delhi Capitals", inplace=True)
d.replace("Royals","Rajastan Royals", inplace=True)
d.replace("KKR","Kolkata Knight Riders", inplace=True)
d.replace("Mumbai","Mumbai Indians", inplace=True)

In [17]:
d.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",#2300
1,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",#2301
2,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",#2302
3,Sunrisers Hyderabad,Rajastan Royals,Rajastan Royals,72 runs,Hyderabad,"Apr 2, 2023",#2303
4,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",#2304

In [18]:
d.to_csv("Match_Summary.csv")

# BATTING_SUMMARY

In [19]:
r = pd.read_html("https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard")

In [20]:
df_b = pd.DataFrame(r[0])

In [21]:
df_b

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Devon Conway,b Mohammed Shami,1,6,-,0,0,16.66,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ruturaj Gaikwad,c Shubman Gill b Joseph,92,50,-,4,9,184.00,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Moeen Ali,c â€ Saha b Rashid Khan,23,17,-,4,1,135.29,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Ben Stokes,c â€ Saha b Rashid Khan,7,6,-,1,0,116.66,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ambati Rayudu,b Little,12,12,-,0,1,100.00,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Shivam Dube,c Rashid Khan b Mohammed Shami,19,18,-,0,1,105.55,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Ravindra Jadeja,c Shankar b Joseph,1,2,-,0,0,50.00,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MS DhoniÂ (c)â€,not out,14,7,-,1,1,200.00,NaN,NaN
15,Mitchell Santner,not out,1,3,-,0,0,33.33,NaN,NaN
16,Extras,"(b 1, lb 6, nb 1)",8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,TOTAL,20 OvÂ (RR: 8.90),178/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...",NaN,NaN
19,"Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...",NaN,NaN

In [22]:
df_b = df_b.drop(["Unnamed: 8","Unnamed: 9"],axis=1)

In [23]:
df_b = df_b.dropna()

In [24]:
df_b

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR
0,Devon Conway,b Mohammed Shami,1,6,-,0,0,16.66
2,Ruturaj Gaikwad,c Shubman Gill b Joseph,92,50,-,4,9,184.00
4,Moeen Ali,c â€ Saha b Rashid Khan,23,17,-,4,1,135.29
6,Ben Stokes,c â€ Saha b Rashid Khan,7,6,-,1,0,116.66
8,Ambati Rayudu,b Little,12,12,-,0,1,100.00
10,Shivam Dube,c Rashid Khan b Mohammed Shami,19,18,-,0,1,105.55
12,Ravindra Jadeja,c Shankar b Joseph,1,2,-,0,0,50.00
14,MS DhoniÂ (c)â€,not out,14,7,-,1,1,200.00
15,Mitchell Santner,not out,1,3,-,0,0,33.33
18,"Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg...","Did not bat: Deepak Chahar,Â Rajvardhan Hangarg..."
19,"Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ...","Fall of wickets: 1-14 (Devon Conway, 2.2 ov), ..."

In [25]:
df_b = df_b.iloc[:-2]

In [26]:
df_b

             BATTING                      Unnamed: 1   R   B  M 4s 6s      SR
0       Devon Conway                b Mohammed Shami   1   6  -  0  0   16.66
2    Ruturaj Gaikwad         c Shubman Gill b Joseph  92  50  -  4  9  184.00
4          Moeen Ali           c â€ Saha b Rashid Khan  23  17  -  4  1  135.29
6         Ben Stokes           c â€ Saha b Rashid Khan   7   6  -  1  0  116.66
8      Ambati Rayudu                        b Little  12  12  -  0  1  100.00
10       Shivam Dube  c Rashid Khan b Mohammed Shami  19  18  -  0  1  105.55
12   Ravindra Jadeja              c Shankar b Joseph   1   2  -  0  0   50.00
14     MS DhoniÂ (c)â€                          not out  14   7  -  1  1  200.00
15  Mitchell Santner                         not out   1   3  -  0  0   33.33

In [27]:
df_b["Out/No Out"]= df_b["Unnamed: 1"].apply(lambda x: "Out" if x!= "not out" else "Not out")

C:\Users\Revanth\AppData\Local\Temp\ipykernel_23820\1407997299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b["Out/No Out"]= df_b["Unnamed: 1"].apply(lambda x: "Out" if x!= "not out" else "Not out")

In [28]:
df_b

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Out/No Out
0,Devon Conway,b Mohammed Shami,1,6,-,0,0,16.66,Out
2,Ruturaj Gaikwad,c Shubman Gill b Joseph,92,50,-,4,9,184.00,Out
4,Moeen Ali,c â€ Saha b Rashid Khan,23,17,-,4,1,135.29,Out
6,Ben Stokes,c â€ Saha b Rashid Khan,7,6,-,1,0,116.66,Out
8,Ambati Rayudu,b Little,12,12,-,0,1,100.00,Out
10,Shivam Dube,c Rashid Khan b Mohammed Shami,19,18,-,0,1,105.55,Out
12,Ravindra Jadeja,c Shankar b Joseph,1,2,-,0,0,50.00,Out
14,MS DhoniÂ (c)â€,not out,14,7,-,1,1,200.00,Not out
15,Mitchell Santner,not out,1,3,-,0,0,33.33,Not out

In [29]:
df_b["Match_ID"] = d.iloc[0,6]

C:\Users\Revanth\AppData\Local\Temp\ipykernel_23820\3454294811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b["Match_ID"] = d.iloc[0,6]

In [30]:
df_b

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Out/No Out,Match_ID
0,Devon Conway,b Mohammed Shami,1,6,-,0,0,16.66,Out,#2300
2,Ruturaj Gaikwad,c Shubman Gill b Joseph,92,50,-,4,9,184.00,Out,#2300
4,Moeen Ali,c â€ Saha b Rashid Khan,23,17,-,4,1,135.29,Out,#2300
6,Ben Stokes,c â€ Saha b Rashid Khan,7,6,-,1,0,116.66,Out,#2300
8,Ambati Rayudu,b Little,12,12,-,0,1,100.00,Out,#2300
10,Shivam Dube,c Rashid Khan b Mohammed Shami,19,18,-,0,1,105.55,Out,#2300
12,Ravindra Jadeja,c Shankar b Joseph,1,2,-,0,0,50.00,Out,#2300
14,MS DhoniÂ (c)â€,not out,14,7,-,1,1,200.00,Not out,#2300
15,Mitchell Santner,not out,1,3,-,0,0,33.33,Not out,#2300

In [31]:
df_b["Batting_POS"] = range(1,len(df_b)+1)

C:\Users\Revanth\AppData\Local\Temp\ipykernel_23820\2508135598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b["Batting_POS"] = range(1,len(df_b)+1)

In [32]:
df_b

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Out/No Out,Match_ID,Batting_POS
0,Devon Conway,b Mohammed Shami,1,6,-,0,0,16.66,Out,#2300,1
2,Ruturaj Gaikwad,c Shubman Gill b Joseph,92,50,-,4,9,184.00,Out,#2300,2
4,Moeen Ali,c â€ Saha b Rashid Khan,23,17,-,4,1,135.29,Out,#2300,3
6,Ben Stokes,c â€ Saha b Rashid Khan,7,6,-,1,0,116.66,Out,#2300,4
8,Ambati Rayudu,b Little,12,12,-,0,1,100.00,Out,#2300,5
10,Shivam Dube,c Rashid Khan b Mohammed Shami,19,18,-,0,1,105.55,Out,#2300,6
12,Ravindra Jadeja,c Shankar b Joseph,1,2,-,0,0,50.00,Out,#2300,7
14,MS DhoniÂ (c)â€,not out,14,7,-,1,1,200.00,Not out,#2300,8
15,Mitchell Santner,not out,1,3,-,0,0,33.33,Not out,#2300,9

In [33]:
df_b = df_b.drop(["Unnamed: 1","M"],axis=1)

In [34]:
df_b

             BATTING   R   B 4s 6s      SR Out/No Out Match_ID  Batting_POS
0       Devon Conway   1   6  0  0   16.66        Out    #2300            1
2    Ruturaj Gaikwad  92  50  4  9  184.00        Out    #2300            2
4          Moeen Ali  23  17  4  1  135.29        Out    #2300            3
6         Ben Stokes   7   6  1  0  116.66        Out    #2300            4
8      Ambati Rayudu  12  12  0  1  100.00        Out    #2300            5
10       Shivam Dube  19  18  0  1  105.55        Out    #2300            6
12   Ravindra Jadeja   1   2  0  0   50.00        Out    #2300            7
14     MS DhoniÂ (c)â€   14   7  1  1  200.00    Not out    #2300            8
15  Mitchell Santner   1   3  0  0   33.33    Not out    #2300            9

In [35]:
df_b["Match"] = d.iloc[0,0]+" vs "+d.iloc[0,1]

In [36]:
df_b

,BATTING,R,B,4s,6s,SR,Out/No Out,Match_ID,Batting_POS,Match
0,Devon Conway,1,6,0,0,16.66,Out,#2300,1,Gujarat Titans vs Chennai Super Kings
2,Ruturaj Gaikwad,92,50,4,9,184.00,Out,#2300,2,Gujarat Titans vs Chennai Super Kings
4,Moeen Ali,23,17,4,1,135.29,Out,#2300,3,Gujarat Titans vs Chennai Super Kings
6,Ben Stokes,7,6,1,0,116.66,Out,#2300,4,Gujarat Titans vs Chennai Super Kings
8,Ambati Rayudu,12,12,0,1,100.00,Out,#2300,5,Gujarat Titans vs Chennai Super Kings
10,Shivam Dube,19,18,0,1,105.55,Out,#2300,6,Gujarat Titans vs Chennai Super Kings
12,Ravindra Jadeja,1,2,0,0,50.00,Out,#2300,7,Gujarat Titans vs Chennai Super Kings
14,MS DhoniÂ (c)â€,14,7,1,1,200.00,Not out,#2300,8,Gujarat Titans vs Chennai Super Kings
15,Mitchell Santner,1,3,0,0,33.33,Not out,#2300,9,Gujarat Titans vs Chennai Super Kings

In [37]:
link = ["https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-kolkata-knight-riders-2nd-match-1359476/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-delhi-capitals-3rd-match-1359477/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-rajasthan-royals-4th-match-1359478/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-mumbai-indians-5th-match-1359479/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-lucknow-super-giants-6th-match-1359480/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-gujarat-titans-7th-match-1359481/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-punjab-kings-8th-match-1359482/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-royal-challengers-bangalore-9th-match-1359483/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-sunrisers-hyderabad-10th-match-1359484/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-delhi-capitals-11th-match-1359485/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-chennai-super-kings-12th-match-1359486/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-kolkata-knight-riders-13th-match-1359487/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-punjab-kings-14th-match-1359488/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-lucknow-super-giants-15th-match-1359489/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-mumbai-indians-16th-match-1359490/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-rajasthan-royals-17th-match-1359491/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-gujarat-titans-18th-match-1359492/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-sunrisers-hyderabad-19th-match-1359493/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-delhi-capitals-20th-match-1359494/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-punjab-kings-21st-match-1359495/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-kolkata-knight-riders-22nd-match-1359496/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-rajasthan-royals-23rd-match-1359497/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-chennai-super-kings-24th-match-1359498/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-mumbai-indians-25th-match-1359499/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-lucknow-super-giants-26th-match-1359500/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-royal-challengers-bangalore-27th-match-1359501/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-kolkata-knight-riders-28th-match-1359502/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-sunrisers-hyderabad-29th-match-1359503/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-gujarat-titans-30th-match-1359504/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-punjab-kings-31st-match-1359505/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-rajasthan-royals-32nd-match-1359506/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-chennai-super-kings-33rd-match-1359507/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-delhi-capitals-34th-match-1359508/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-mumbai-indians-35th-match-1359509/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-kolkata-knight-riders-36th-match-1359510/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-chennai-super-kings-37th-match-1359511/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-lucknow-super-giants-38th-match-1359512/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-gujarat-titans-39th-match-1359513/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-sunrisers-hyderabad-40th-match-1359514/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-punjab-kings-41st-match-1359515/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-rajasthan-royals-42nd-match-1359516/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-royal-challengers-bangalore-43rd-match-1359517/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-delhi-capitals-44th-match-1359518/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-mumbai-indians-46th-match-1359520/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-kolkata-knight-riders-47th-match-1359521/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-gujarat-titans-48th-match-1359522/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-mumbai-indians-49th-match-1359523/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-royal-challengers-bangalore-50th-match-1359524/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-lucknow-super-giants-51st-match-1359525/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-sunrisers-hyderabad-52nd-match-1359526/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-punjab-kings-53rd-match-1359527/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-royal-challengers-bangalore-54th-match-1359528/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-delhi-capitals-55th-match-1359529/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-rajasthan-royals-56th-match-1359530/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-gujarat-titans-57th-match-1359531/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-lucknow-super-giants-58th-match-1359532/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-punjab-kings-59th-match-1359533/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-royal-challengers-bangalore-60th-match-1359534/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-kolkata-knight-riders-61st-match-1359535/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-sunrisers-hyderabad-62nd-match-1359536/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-mumbai-indians-63rd-match-1359537/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-delhi-capitals-64th-match-1359538/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-royal-challengers-bangalore-65th-match-1359539/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-rajasthan-royals-66th-match-1359540/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-chennai-super-kings-67th-match-1359541/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-lucknow-super-giants-68th-match-1359542/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-sunrisers-hyderabad-69th-match-1359543/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-gujarat-titans-70th-match-1359544/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-gujarat-titans-qualifier-1-1370350/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-mumbai-indians-eliminator-1370351/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-mumbai-indians-qualifier-2-1370352/full-scorecard","https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-final-1370353/full-scorecard"]

In [38]:
len(link)

73

In [39]:
df_bs = pd.DataFrame(columns=["Match","Batting_POS","BATTING","R","B","4s","6s","SR","Out/No Out"])

In [40]:
for i in range(0,len(link)):
    r = pd.read_html(link[i])
    df_b = pd.DataFrame(r[0])
    df_b = df_b.drop_duplicates()
    df_b = df_b.drop(["Unnamed: 8","Unnamed: 9"],axis=1)
    df_b = df_b.dropna()
    df_b = df_b.iloc[:-2]
    df_b["Out/No Out"]= df_b["Unnamed: 1"].apply(lambda x: "Out" if x!= "not out" else "Not out")
    df_b["Match_ID"] = d.iloc[i,6]
    df_b["Batting_POS"] = range(1,len(df_b)+1)
    df_b = df_b.drop(["Unnamed: 1","M"],axis=1)
    df_b["Match"] = d.iloc[i,0]+" vs "+d.iloc[i,1]
    df_bs = pd.concat([df_bs,df_b])
    df_b = pd.DataFrame(r[2])
    df_b = df_b.drop_duplicates()
    df_b = df_b.drop(["Unnamed: 8","Unnamed: 9"],axis=1)
    df_b = df_b.dropna()
    df_b = df_b.iloc[:-2]
    df_b["Out/No Out"]= df_b["Unnamed: 1"].apply(lambda x: "Out" if x!= "not out" else "Not out")
    df_b["Match_ID"] = d.iloc[i,6]
    df_b["Batting_POS"] = range(1,len(df_b)+1)
    df_b = df_b.drop(["Unnamed: 1","M"],axis=1)
    df_b["Match"] = d.iloc[i,0]+" vs "+d.iloc[i,1]
    df_bs = pd.concat([df_bs,df_b])

In [41]:
df_bs.head(10)

,Match,Batting_POS,BATTING,R,B,4s,6s,SR,Out/No Out,Match_ID
0,Gujarat Titans vs Chennai Super Kings,1,Devon Conway,1,6,0,0,16.66,Out,#2300
2,Gujarat Titans vs Chennai Super Kings,2,Ruturaj Gaikwad,92,50,4,9,184.00,Out,#2300
4,Gujarat Titans vs Chennai Super Kings,3,Moeen Ali,23,17,4,1,135.29,Out,#2300
6,Gujarat Titans vs Chennai Super Kings,4,Ben Stokes,7,6,1,0,116.66,Out,#2300
8,Gujarat Titans vs Chennai Super Kings,5,Ambati Rayudu,12,12,0,1,100.00,Out,#2300
10,Gujarat Titans vs Chennai Super Kings,6,Shivam Dube,19,18,0,1,105.55,Out,#2300
12,Gujarat Titans vs Chennai Super Kings,7,Ravindra Jadeja,1,2,0,0,50.00,Out,#2300
14,Gujarat Titans vs Chennai Super Kings,8,MS DhoniÂ (c)â€,14,7,1,1,200.00,Not out,#2300
15,Gujarat Titans vs Chennai Super Kings,9,Mitchell Santner,1,3,0,0,33.33,Not out,#2300
0,Gujarat Titans vs Chennai Super Kings,1,Wriddhiman SahaÂ â€,25,16,2,2,156.25,Out,#2300

In [42]:
df_bs["BATTING"] = df_bs["BATTING"].apply(lambda x: x.replace("(c)",""))
df_bs["BATTING"] = df_bs["BATTING"].apply(lambda x: x.replace("â€ ",""))

In [43]:
df_bs.to_csv("IPL2023_Batting_Summary.csv")

# Bowling_Summary

In [44]:
r = pd.read_html("https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard")

In [45]:
df_bo = pd.DataFrame(r[1])

In [46]:
df_bo

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Mohammed Shami,4,0,29,2,7.25,13,2,2,0,1
1,"2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ...","2.2 to DP Conway, Shami breaches the defences ..."
2,Hardik Pandya,3,0,28,0,9.33,6,2,2,0,0
3,Josh Little,4,0,41,1,10.25,10,4,3,0,0
4,"12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ...","12.5 to AT Rayudu, Maiden IPL wicket for Josh ..."
5,Rashid Khan,4,0,26,2,6.50,10,2,1,0,0
6,"5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ...","5.5 to MM Ali, Rashid strikes back, Moeen has ..."
7,Alzarri Joseph,4,0,33,2,8.25,8,0,3,0,0
8,"17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ...","17.1 to RD Gaikwad, Joseph misses the yorker, ..."
9,Yash Dayal,1,0,14,0,14.00,2,0,2,0,0

In [47]:
for t in range(len(df_bo)):
        if df_bo["BOWLING"][t]==df_bo["O"][t]:
            df_bo = df_bo.drop(t)

In [48]:
df_bo

          BOWLING  O  M   R  W   ECON  0s 4s 6s WD NB
0  Mohammed Shami  4  0  29  2   7.25  13  2  2  0  1
2   Hardik Pandya  3  0  28  0   9.33   6  2  2  0  0
3     Josh Little  4  0  41  1  10.25  10  4  3  0  0
5     Rashid Khan  4  0  26  2   6.50  10  2  1  0  0
7  Alzarri Joseph  4  0  33  2   8.25   8  0  3  0  0
9      Yash Dayal  1  0  14  0  14.00   2  0  2  0  0

In [49]:
df_bos = pd.DataFrame(columns=["Match","BOWLING","O","M","R","W","ECON","0s","4s","6s","WD","NB"])

In [50]:
for j in range(0,len(link)):
    r = pd.read_html(link[j])
    df_bo = pd.DataFrame(r[1])
    df_bo = df_bo.drop_duplicates()
    df_bo["Match_ID"] = d.iloc[j,6]
    df_bo["Match"] = d.iloc[j,0]+" vs "+d.iloc[j,1]
    for t in range(len(df_bo)):
        if df_bo["BOWLING"][t]==df_bo["O"][t]:
            df_bo = df_bo.drop(t)
    df_bos = pd.concat([df_bos,df_bo])
    df_bo = pd.DataFrame(r[3])
    df_bo = df_bo.drop_duplicates()
    df_bo["Match_ID"] = d.iloc[j,6]
    df_bo["Match"] = d.iloc[j,0]+" vs "+d.iloc[j,1]
    for t in range(len(df_bo)):
        if df_bo["BOWLING"][t]==df_bo["O"][t]:
            df_bo = df_bo.drop(t)
    df_bos = pd.concat([df_bos,df_bo])

In [51]:
df_bos.head(10)

,Match,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB,Match_ID
0,Gujarat Titans vs Chennai Super Kings,Mohammed Shami,4,0,29,2,7.25,13,2,2,0,1,#2300
2,Gujarat Titans vs Chennai Super Kings,Hardik Pandya,3,0,28,0,9.33,6,2,2,0,0,#2300
3,Gujarat Titans vs Chennai Super Kings,Josh Little,4,0,41,1,10.25,10,4,3,0,0,#2300
5,Gujarat Titans vs Chennai Super Kings,Rashid Khan,4,0,26,2,6.50,10,2,1,0,0,#2300
7,Gujarat Titans vs Chennai Super Kings,Alzarri Joseph,4,0,33,2,8.25,8,0,3,0,0,#2300
9,Gujarat Titans vs Chennai Super Kings,Yash Dayal,1,0,14,0,14.00,2,0,2,0,0,#2300
0,Gujarat Titans vs Chennai Super Kings,Deepak Chahar,4,0,29,0,7.25,9,1,2,0,0,#2300
1,Gujarat Titans vs Chennai Super Kings,Tushar Deshpande,3.2,0,51,1,15.30,5,4,4,1,1,#2300
3,Gujarat Titans vs Chennai Super Kings,Rajvardhan Hangargekar,4,0,36,3,9.00,10,4,1,3,1,#2300
5,Gujarat Titans vs Chennai Super Kings,Mitchell Santner,4,0,32,0,8.00,7,5,0,0,0,#2300

In [52]:
df_bos["BOWLING"] = df_bos["BOWLING"].apply(lambda x: x.replace("(c)",""))
df_bos["BOWLING"] = df_bos["BOWLING"].apply(lambda x: x.replace("â€ ",""))

In [53]:
df_bos.to_csv("IPL2023_Bowling_Summary.csv")

# Player_Info

In [54]:
link_mi = ["https://www.espncricinfo.com/cricketers/rohit-sharma-34102","https://www.espncricinfo.com/cricketers/jason-behrendorff-272477","https://www.espncricinfo.com/cricketers/tim-david-892749","https://www.espncricinfo.com/cricketers/duan-jansen-595954","https://www.espncricinfo.com/cricketers/arshad-khan-1244751","https://www.espncricinfo.com/cricketers/riley-meredith-961713","https://www.espncricinfo.com/player/hrithik-shokeen-1175423","https://www.espncricinfo.com/player/arjun-tendulkar-1148776","https://www.espncricinfo.com/player/nehal-wadhera-1151273","https://www.espncricinfo.com/player/dewald-brevis-1070665","https://www.espncricinfo.com/player/raghav-goyal-1350770","https://www.espncricinfo.com/cricketers/chris-jordan-288992","https://www.espncricinfo.com/player/ishan-kishan-720471","https://www.espncricinfo.com/player/shams-mulani-1131607","https://www.espncricinfo.com/player/ramandeep-singh-1079470","https://www.espncricinfo.com/player/tilak-varma-1170265","https://www.espncricinfo.com/cricketers/sandeep-warrier-592735","https://www.espncricinfo.com/player/piyush-chawla-32966","https://www.espncricinfo.com/player/cameron-green-1076713","https://www.espncricinfo.com/player/kumar-kartikeya-1159843","https://www.espncricinfo.com/player/akash-madhwal-1206039","https://www.espncricinfo.com/player/tristan-stubbs-595978","https://www.espncricinfo.com/player/vishnu-vinod-732293","https://www.espncricinfo.com/player/suryakumar-yadav-446507"]       

link_csk = ["https://www.espncricinfo.com/player/moeen-ali-8917","https://www.espncricinfo.com/player/tushar-deshpande-822553","https://www.espncricinfo.com/player/ruturaj-gaikwad-1060380","https://www.espncricinfo.com/cricketers/sisanda-magala-379776","https://www.espncricinfo.com/player/dwaine-pretorius-327830","https://www.espncricinfo.com/player/ambati-rayudu-33141","https://www.espncricinfo.com/player/nishant-sindhu-1292506","https://www.espncricinfo.com/player/ben-stokes-311158","https://www.espncricinfo.com/player/deepak-chahar-447261","https://www.espncricinfo.com/player/ms-dhoni-28081","https://www.espncricinfo.com/player/rajvardhan-hangargekar-1175429","https://www.espncricinfo.com/player/ajay-mandal-1059570","https://www.espncricinfo.com/player/ajinkya-rahane-277916","https://www.espncricinfo.com/player/mitchell-santner-502714","https://www.espncricinfo.com/player/simarjeet-singh-1159722","https://www.espncricinfo.com/player/maheesh-theekshana-1138316","https://www.espncricinfo.com/player/devon-conway-379140","https://www.espncricinfo.com/player/shivam-dube-714451","https://www.espncricinfo.com/player/ravindra-jadeja-234675","https://www.espncricinfo.com/player/matheesha-pathirana-1194795","https://www.espncricinfo.com/player/shaik-rasheed-1292497","https://www.espncricinfo.com/player/subhranshu-senapati-1059577","https://www.espncricinfo.com/player/prashant-solanki-1252337","https://www.espncricinfo.com/player/bhagath-varma-1252050"]

link_gt = ["http://www.espncricinfo.com/player/shubman-gill-1070173","https://www.espncricinfo.com/player/josh-little-928067","http://www.espncricinfo.com/player/david-miller-321777","http://www.espncricinfo.com/player/urvil-patel-1131570","http://www.espncricinfo.com/player/sai-sudharsan-1151288","http://www.espncricinfo.com/player/vijay-shankar-477021","http://www.espncricinfo.com/player/rahul-tewatia-423838","http://www.espncricinfo.com/player/jayant-yadav-447587","http://www.espncricinfo.com/player/srikar-bharat-529436","http://www.espncricinfo.com/player/alzarri-joseph-670031","http://www.espncricinfo.com/player/abhinav-manohar-778963","http://www.espncricinfo.com/player/darshan-nalkande-1111917","http://www.espncricinfo.com/player/wriddhiman-saha-279810","http://www.espncricinfo.com/player/pradeep-sangwan-279545","http://www.espncricinfo.com/player/mohit-sharma-537119","http://www.espncricinfo.com/player/matthew-wade-230193","http://www.espncricinfo.com/player/yash-dayal-1159720","http://www.espncricinfo.com/player/rashid-khan-793463","http://www.espncricinfo.com/player/shivam-mavi-1079848","http://www.espncricinfo.com/player/hardik-pandya-625371","http://www.espncricinfo.com/player/ravisrinivasan-sai-kishore-1048739","http://www.espncricinfo.com/player/mohammed-shami-481896","http://www.espncricinfo.com/player/odean-smith-820691","https://www.espncricinfo.com/cricketers/dasun-shanaka-437316"]

link_dc = ["http://www.espncricinfo.com/player/khaleel-ahmed-942645","https://www.espncricinfo.com/cricketers/priyam-garg-1070180","http://www.espncricinfo.com/player/anrich-nortje-481979","http://www.espncricinfo.com/player/ripal-patel-1201520","http://www.espncricinfo.com/player/vicky-ostwal-1292520","http://www.espncricinfo.com/player/chetan-sakariya-1131754","http://www.espncricinfo.com/player/prithvi-shaw-1070168","http://www.espncricinfo.com/player/yash-dhull-1292498","http://www.espncricinfo.com/player/mitchell-marsh-272450","http://www.espncricinfo.com/player/manish-pandey-290630","http://www.espncricinfo.com/player/rovman-powell-820351","http://www.espncricinfo.com/player/mustafizur-rahman-330902","http://www.espncricinfo.com/player/phil-salt-669365","http://www.espncricinfo.com/player/david-warner-219889","http://www.espncricinfo.com/player/praveen-dubey-777515","http://www.espncricinfo.com/player/sarfaraz-khan-642525","http://www.espncricinfo.com/player/lungi-ngidi-542023","http://www.espncricinfo.com/player/axar-patel-554691","http://www.espncricinfo.com/player/lalit-yadav-930189","http://www.espncricinfo.com/player/rilee-rossouw-318845","http://www.espncricinfo.com/player/ishant-sharma-236779","http://www.espncricinfo.com/player/kuldeep-yadav-559235"]

link_kkr = ["https://www.espncricinfo.com/player/vaibhav-arora-1209292","https://www.espncricinfo.com/cricketers/aarya-desai-1353014","https://www.espncricinfo.com/player/rahmanullah-gurbaz-974087","https://www.espncricinfo.com/player/kulwant-khejroliya-1083033","https://www.espncricinfo.com/player/nitish-rana-604527","https://www.espncricinfo.com/player/andre-russell-276298","https://www.espncricinfo.com/player/rinku-singh-723105","https://www.espncricinfo.com/player/david-wiese-221140","https://www.espncricinfo.com/player/varun-chakravarthy-1108375","https://www.espncricinfo.com/player/venkatesh-iyer-851403","https://www.espncricinfo.com/player/sunil-narine-230558","https://www.espncricinfo.com/player/anukul-roy-1079839","https://www.espncricinfo.com/player/suyash-sharma-1350792","https://www.espncricinfo.com/player/tim-southee-232364","https://www.espncricinfo.com/player/umesh-yadav-376116","https://www.espncricinfo.com/cricketers/johnson-charles-333066","https://www.espncricinfo.com/player/lockie-ferguson-493773","https://www.espncricinfo.com/player/narayan-jagadeesan-1048813","https://www.espncricinfo.com/player/harshit-rana-1312645","https://www.espncricinfo.com/cricketers/jason-roy-298438","https://www.espncricinfo.com/player/mandeep-singh-398506","https://www.espncricinfo.com/player/shardul-thakur-475281"]

link_lsg = ["http://www.espncricinfo.com/player/manan-vohra-532856","http://www.espncricinfo.com/player/quinton-de-kock-379143","http://www.espncricinfo.com/player/marcus-stoinis-325012","http://www.espncricinfo.com/player/kyle-mayers-348056","http://www.espncricinfo.com/player/romario-shepherd-677077","http://www.espncricinfo.com/player/ravi-bishnoi-1175441","http://www.espncricinfo.com/player/mark-wood-351588","http://www.espncricinfo.com/player/naveen-ul-haq-793447","http://www.espncricinfo.com/player/kl-rahul-422108","http://www.espncricinfo.com/player/nicholas-pooran-604302","http://www.espncricinfo.com/player/krishnappa-gowtham-424377","http://www.espncricinfo.com/player/krunal-pandya-471342","http://www.espncricinfo.com/player/prerak-mankad-956871","https://www.espncricinfo.com/player/amit-mishra-31107","http://www.espncricinfo.com/player/mayank-yadav-1292563","http://www.espncricinfo.com/player/yash-thakur-1070196","http://www.espncricinfo.com/player/ayush-badoni-1151270","https://www.espncricinfo.com/player/karan-sharma-1246518","http://www.espncricinfo.com/player/deepak-hooda-497121","http://www.espncricinfo.com/player/daniel-sams-826901","http://www.espncricinfo.com/player/swapnil-singh-232292","http://www.espncricinfo.com/player/avesh-khan-694211","http://www.espncricinfo.com/player/jaydev-unadkat-390484","https://www.espncricinfo.com/player/yudhvir-singh-1206052"]

link_pbks = ["https://www.espncricinfo.com/cricketers/gurnoor-brar-1287033","https://www.espncricinfo.com/player/sam-curran-662973","https://www.espncricinfo.com/player/nathan-ellis-826915","https://www.espncricinfo.com/player/liam-livingstone-403902","https://www.espncricinfo.com/player/mohit-rathee-1349361","https://www.espncricinfo.com/cricketers/matthew-short-605575","https://www.espncricinfo.com/player/harpreet-singh-340854","https://www.espncricinfo.com/player/atharva-taide-1125958","https://www.espncricinfo.com/player/harpreet-brar-1168641","https://www.espncricinfo.com/player/rishi-dhawan-290727","https://www.espncricinfo.com/player/vidwath-kaverappa-1155262","https://www.espncricinfo.com/player/kagiso-rabada-550215","https://www.espncricinfo.com/player/sikandar-raza-299572","https://www.espncricinfo.com/player/arshdeep-singh-1125976","https://www.espncricinfo.com/player/prabhsimran-singh-1161024","https://www.espncricinfo.com/player/rahul-chahar-1064812","https://www.espncricinfo.com/player/shikhar-dhawan-28235","https://www.espncricinfo.com/player/m-shahrukh-khan-719719","https://www.espncricinfo.com/player/bhanuka-rajapaksa-342619","https://www.espncricinfo.com/player/jitesh-sharma-721867","https://www.espncricinfo.com/player/baltej-singh-527292","https://www.espncricinfo.com/player/shivam-singh-1252390"]

link_rr = ["https://www.espncricinfo.com/player/murugan-ashwin-528067","http://www.espncricinfo.com/player/abdul-basith-1287067","http://www.espncricinfo.com/player/kc-cariappa-777537","http://www.espncricinfo.com/player/shimron-hetmyer-670025","http://www.espncricinfo.com/player/dhruv-jurel-1175488","http://www.espncricinfo.com/player/riyan-parag-1079434","http://www.espncricinfo.com/player/joe-root-303669","http://www.espncricinfo.com/player/kuldeep-sen-1163695","http://www.espncricinfo.com/player/kuldip-yadav-1206495","https://www.espncricinfo.com/player/ravichandran-ashwin-26421","http://www.espncricinfo.com/player/trent-boult-277912","http://www.espncricinfo.com/player/yuzvendra-chahal-430246","http://www.espncricinfo.com/player/jason-holder-391485","http://www.espncricinfo.com/player/obed-mccoy-906783","https://www.espncricinfo.com/cricketers/akash-vasisht-722597","http://www.espncricinfo.com/player/navdeep-saini-700167","https://www.espncricinfo.com/cricketers/sandeep-sharma-438362","http://www.espncricinfo.com/player/adam-zampa-379504","http://www.espncricinfo.com/player/km-asif-1083030","http://www.espncricinfo.com/player/jos-buttler-308967","http://www.espncricinfo.com/player/donovan-ferreira-698315","http://www.espncricinfo.com/player/yashasvi-jaiswal-1151278","http://www.espncricinfo.com/player/devdutt-padikkal-1119026","http://www.espncricinfo.com/player/kunal-singh-rathore-1339031","http://www.espncricinfo.com/player/sanju-samson-425943"]

link_rcb = ["http://www.espncricinfo.com/player/shahbaz-ahmed-1159711","https://www.espncricinfo.com/cricketers/michael-bracewell-326968","http://www.espncricinfo.com/player/wanindu-hasaranga-de-silva-784379","http://www.espncricinfo.com/player/dinesh-karthik-30045","http://www.espncricinfo.com/player/rajan-kumar-1339027","https://www.espncricinfo.com/cricketers/wayne-parnell-265564","http://www.espncricinfo.com/player/anuj-rawat-1123073","http://www.espncricinfo.com/player/sonu-yadav-1048867","http://www.espncricinfo.com/player/finn-allen-959759","http://www.espncricinfo.com/player/akash-deep-1176959","http://www.espncricinfo.com/player/josh-hazlewood-288284","http://www.espncricinfo.com/player/siddarth-kaul-326017","http://www.espncricinfo.com/player/mahipal-lomror-853265","http://www.espncricinfo.com/player/harshal-patel-390481","http://www.espncricinfo.com/player/karn-sharma-30288","http://www.espncricinfo.com/player/mohammed-siraj-940973","http://www.espncricinfo.com/player/manoj-bhandage-1057399","http://www.espncricinfo.com/player/faf-du-plessis-44828","https://www.espncricinfo.com/cricketers/kedar-jadhav-290716","http://www.espncricinfo.com/player/virat-kohli-253802","http://www.espncricinfo.com/player/glenn-maxwell-325026","http://www.espncricinfo.com/player/suyash-prabhudessai-1083851","http://www.espncricinfo.com/player/himanshu-sharma-714593","https://www.espncricinfo.com/cricketers/vijaykumar-vyshak-777815"]

link_srh = ["http://www.espncricinfo.com/player/mayank-agarwal-398438","http://www.espncricinfo.com/player/fazalhaq-farooqi-974175","http://www.espncricinfo.com/player/heinrich-klaasen-436757","http://www.espncricinfo.com/player/mayank-markande-1081442","http://www.espncricinfo.com/player/glenn-phillips-823509","http://www.espncricinfo.com/player/abdul-samad-1175485","http://www.espncricinfo.com/player/anmolpreet-singh-851261","http://www.espncricinfo.com/player/rahul-tripathi-446763","http://www.espncricinfo.com/player/upendra-yadav-732269","http://www.espncricinfo.com/player/harry-brook-911707","http://www.espncricinfo.com/player/akeal-hosein-530812","http://www.espncricinfo.com/player/bhuvneshwar-kumar-326016","http://www.espncricinfo.com/player/aiden-markram-600498","http://www.espncricinfo.com/player/adil-rashid-244497","http://www.espncricinfo.com/player/abhishek-sharma-1070183","http://www.espncricinfo.com/player/washington-sundar-719715","http://www.espncricinfo.com/player/kartik-tyagi-1122918","http://www.espncricinfo.com/player/mayank-dagar-942367","http://www.espncricinfo.com/player/marco-jansen-696401","http://www.espncricinfo.com/player/umran-malik-1246528","https://www.espncricinfo.com/player/t-natarajan-802575","http://www.espncricinfo.com/player/nitish-kumar-reddy-1175496","http://www.espncricinfo.com/player/vivrant-sharma-1252370","http://www.espncricinfo.com/player/sanvir-singh-1132219","http://www.espncricinfo.com/player/samarth-vyas-853859"]

In [55]:
PlayerName = []
BattingStyle = []
BowlingStyle = []
PlayingRole = []
Teams = []

In [56]:
import requests
from bs4 import BeautifulSoup

In [57]:
def battingstyle(url):
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        p = soup.find_all('p')
        for i in range(len(p)):
            if p[i].text == "Batting Style":
                BattingStyle.append(p[i+1].text)
                break
        else:
            BattingStyle.append("NA")       
                
def bowlingstyle(url):
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        pb = soup.find_all('p')
        for j in range(len(pb)):
            if pb[j].text == "Bowling Style":
                BowlingStyle.append(pb[j+1].text)
                break
        else:
            BowlingStyle.append("NA")
            
def playingrole(url):
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        pr = soup.find_all('p')
        for k in range(len(pr)):
            if pr[k].text == "Playing Role":
                PlayingRole.append(pr[k+1].text)
                break
        else:
            PlayingRole.append("NA")

In [58]:
import requests
from bs4 import BeautifulSoup
def scrape_webpage(url):
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        headings = soup.find_all('h1')
        p = soup.find_all('p')
        #a = soup.find_all('a')
        for heading in headings:
            PlayerName.append(heading.text)
        battingstyle(url)
        bowlingstyle(url)
        playingrole(url)
    else:
        print("Error:", response.status_code)

In [59]:
for i in link_mi:        
    scrape_webpage(i)
    Teams.append("Mumbai Indians")

In [60]:
for i in link_csk:        
    scrape_webpage(i)
    Teams.append("Chennai Super Kings")

In [61]:
for i in link_gt:        
    scrape_webpage(i)
    Teams.append("Gujarat Titans")

In [62]:
for i in link_dc:        
    scrape_webpage(i)
    Teams.append("Delhi Capitals")

In [63]:
for i in link_kkr:        
    scrape_webpage(i)
    Teams.append("Kolkata Knight Riders")

In [64]:
for i in link_lsg:        
    scrape_webpage(i)
    Teams.append("Lucknow Super Giants")

In [65]:
for i in link_pbks:        
    scrape_webpage(i)
    Teams.append("Punjab Kings")

In [66]:
for i in link_rr:        
    scrape_webpage(i)
    Teams.append("Rajastan Royals")

In [67]:
for i in link_rcb:        
    scrape_webpage(i)
    Teams.append("Royal Challengers Bangalore")

In [68]:
for i in link_srh:        
    scrape_webpage(i)
    Teams.append("Sunrisers Hyderabad")

In [69]:
df_m = pd.DataFrame()
df_m["PlayerName"]=PlayerName
df_m["BattingStyle"]=BattingStyle
df_m["BowlingStyle"]=BowlingStyle
df_m["PlayingRole"]=PlayingRole
df_m["Team"]=Teams

df_m

,PlayerName,BattingStyle,BowlingStyle,PlayingRole,Team
0,Rohit Sharma,Right hand Bat,Right arm Offbreak,Top order Batter,Mumbai Indians
1,Jason Behrendorff,Right hand Bat,Left arm Fast medium,Bowler,Mumbai Indians
2,Tim David,Right hand Bat,Right arm Offbreak,Middle order Batter,Mumbai Indians
3,Duan Jansen,Right hand Bat,Left arm Fast,Bowler,Mumbai Indians
4,Arshad Khan,Left hand Bat,Left arm Medium,Bowler,Mumbai Indians
...,...,...,...,...,...
231,T Natarajan,Left hand Bat,Left arm Medium,Bowler,Sunrisers Hyderabad
232,Nitish Kumar Reddy,Right hand Bat,Right arm Medium fast,Batting Allrounder,Sunrisers Hyderabad
233,Vivrant Sharma,Left hand Bat,Legbreak Googly,Allrounder,Sunrisers Hyderabad
234,Sanvir Singh,Right hand Bat,Right arm Medium,Allrounder,Sunrisers Hyderabad
235,Samarth Vyas,Right hand Bat,Legbreak Googly,Allrounder,Sunrisers Hyderabad

In [70]:
df_m.to_csv("IPL_2023_Player.csv")

# Data Cleaning

In [71]:
df_ms = pd.read_csv("Match_Summary.csv")

In [72]:
df_ms.head()

,Unnamed: 0,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,0,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",#2300
1,1,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",#2301
2,2,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",#2302
3,3,Sunrisers Hyderabad,Rajastan Royals,Rajastan Royals,72 runs,Hyderabad,"Apr 2, 2023",#2303
4,4,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",#2304

In [73]:
df_ms.drop("Unnamed: 0", axis=1,inplace=True)

In [74]:
df_ms.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",#2300
1,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",#2301
2,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",#2302
3,Sunrisers Hyderabad,Rajastan Royals,Rajastan Royals,72 runs,Hyderabad,"Apr 2, 2023",#2303
4,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",#2304

In [75]:
df_bs.head()

,Match,Batting_POS,BATTING,R,B,4s,6s,SR,Out/No Out,Match_ID
0,Gujarat Titans vs Chennai Super Kings,1,Devon Conway,1,6,0,0,16.66,Out,#2300
2,Gujarat Titans vs Chennai Super Kings,2,Ruturaj Gaikwad,92,50,4,9,184.00,Out,#2300
4,Gujarat Titans vs Chennai Super Kings,3,Moeen Ali,23,17,4,1,135.29,Out,#2300
6,Gujarat Titans vs Chennai Super Kings,4,Ben Stokes,7,6,1,0,116.66,Out,#2300
8,Gujarat Titans vs Chennai Super Kings,5,Ambati Rayudu,12,12,0,1,100.00,Out,#2300

In [76]:
df_bos.head()

,Match,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB,Match_ID
0,Gujarat Titans vs Chennai Super Kings,Mohammed Shami,4,0,29,2,7.25,13,2,2,0,1,#2300
2,Gujarat Titans vs Chennai Super Kings,Hardik Pandya,3,0,28,0,9.33,6,2,2,0,0,#2300
3,Gujarat Titans vs Chennai Super Kings,Josh Little,4,0,41,1,10.25,10,4,3,0,0,#2300
5,Gujarat Titans vs Chennai Super Kings,Rashid Khan,4,0,26,2,6.50,10,2,1,0,0,#2300
7,Gujarat Titans vs Chennai Super Kings,Alzarri Joseph,4,0,33,2,8.25,8,0,3,0,0,#2300

In [77]:
df_pl = pd.read_csv("IPL_2023_Player.csv")

In [78]:
df_pl.head()

,Unnamed: 0,PlayerName,BattingStyle,BowlingStyle,PlayingRole,Team
0,0,Rohit Sharma,Right hand Bat,Right arm Offbreak,Top order Batter,Mumbai Indians
1,1,Jason Behrendorff,Right hand Bat,Left arm Fast medium,Bowler,Mumbai Indians
2,2,Tim David,Right hand Bat,Right arm Offbreak,Middle order Batter,Mumbai Indians
3,3,Duan Jansen,Right hand Bat,Left arm Fast,Bowler,Mumbai Indians
4,4,Arshad Khan,Left hand Bat,Left arm Medium,Bowler,Mumbai Indians

In [79]:
df_pl.drop("Unnamed: 0", axis=1,inplace=True)

In [80]:
df_pl.head()

,PlayerName,BattingStyle,BowlingStyle,PlayingRole,Team
0,Rohit Sharma,Right hand Bat,Right arm Offbreak,Top order Batter,Mumbai Indians
1,Jason Behrendorff,Right hand Bat,Left arm Fast medium,Bowler,Mumbai Indians
2,Tim David,Right hand Bat,Right arm Offbreak,Middle order Batter,Mumbai Indians
3,Duan Jansen,Right hand Bat,Left arm Fast,Bowler,Mumbai Indians
4,Arshad Khan,Left hand Bat,Left arm Medium,Bowler,Mumbai Indians